.App {
  width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3%
}

body {
padding: 3%;
margin:0
}

.playersforms{ 
  display: flex;
  flex-direction: row; 
  justify-content: center;
  gap: 25px;
}

.GameLine{
  display: flex;
  justify-items: center;

 
}

@media screen and (max-width: 626px) {
  .playersforms {
    flex-direction: column; 
  }
}
