.board {
   width: 45vw;
   height: 45vw;
   background-color: rgba(127, 255, 212, 0.801);
   border: 1px solid rgb(19, 176, 79);
   display: flex;
   flex-direction: column;
   }

   .game{
      display: flex;
      flex-direction: column;
   }
   
   .row {
      flex: 33%;
      display: flex;
      flex-direction: row;
   }
   
   .sectionstep{
      display: flex;
   flex-direction: row;
   margin-bottom: 5%;
   justify-content: center;
   margin-top: 3%;
   }
   
   .step { 
      /* text-align: center; */
      align-self: center;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-weight: bold;
      text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
      color: #04AA6D;;
      text-transform: uppercase;
      color: #04AA6D;
    }
   
   .X0 {
     font-size: xx-large;
     font-weight: bold;
     text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
     color: #04AA6D; 
   }
   
   @media screen and (max-width: 726px) {
      .board {
      width: 60vw;
      height: 60vw;
      }
   }
   
   @media screen and (min-width: 865px) {
      .board {
      max-width: 45vw;
      max-height: 45vw;
      }
   }

   @media screen and (max-width: 399px) {
      .board {
     margin-left: 5%;
      }
   }